<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
  <title>Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
 <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 -->
<style>
    div#div1{
        height:30px;width:250px;
        float:right;
        clear:both;
      }

      .center{
        border: 5px solid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
      }
      
      table, th, td {
        border:1px solid black;
        border-collapse: collapse;
      }
</style>

</head>
<!--<body style="border-color: black; border-width: .25em; border-style: double; ">
-->
<body>
<div id="divContainer">
    <div id="div1"> 
        <h3 style="margin-right: 10px;">معهد اللغات للقوات المسلحه</h3>
    </div>
</div>

<div id="divContainer">
    <div id="div1"> 
        <h3 style="margin-right: 10px;">قســــم شئــــون الـدارسيـــــن</h3>
    </div>
</div>

<div id="divContainer">
    <div id="div1"> 
        <h3 style="margin-right: 10px;">رقـــم القيـــد : ٢٠٢٣/٠٨/٣٠٤</h3>
    </div>
</div>

<div id="divContainer">
    <div id="div1"> 
        <h3 style="margin-right: 10px;"> الــتاريــــــــخ:&nbsp; &nbsp;&nbsp; ٢٠٢٣/٠٨/٠</h3>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>


<div style=" margin: auto; width: 35%; ">
    <div> 
        <h3 ><u>إلى / هيئة تدريب القوات المسلحه</u></h3>
    </div>
</div>

<div>
    <div> 
        <h3 style="margin-right: 10px;"> إيماءا إلى كتاب هيئة تدريب القوات المسلحه رقم ( بدون )  بشأن بعثه قادم لكم اليوم الضابط المذكور بعد وهو </h3>
    </div>
</div>

<table style="width:100%">
    <tr>
      <th style="width:10%">الرقم العسكرى</th>
      <th style="width:10%">الرتبه</th>
      <th style="width:35%">الأسم</th>
      <th style="width:10%">رقم البعثه</th>
      <th style="width:35%">الوحده</th>
    </tr>
    <tr>
      <td style="text-align: center">لثقوشرغ</td>
      <td style="text-align: center">لثقوشرغ</td>
      <td style="text-align: center">Maria Anders</td>
      <td style="text-align: center">Germany</td>
      <td style="text-align: center">Germany</td>
    </tr>
  </table>

  <br>
  <br>
  <br>

  <div id="divContainer">
    <div id="div1"> 
        <h3 style="margin-right:500px;">التوقيع</h3>
    </div>
</div>

<br>
<br>

<div>
    <div> 
        <h3 style="margin-right:500px;">رئيس قسم شئــــون الـدارسيـــــن</h3>
    </div>
</div>

<div>
    <div> 
        <h3 style="margin-right:500px;">مقدم/وائل عزالدين </h3>
    </div>
</div>

</body>
</html>
